:root {
    --primary-color: #39a6b2;
    --secondary-color: #042536;
    --tertiary-color: #12171dd7;
    --quaternary-color: #1a526e;
  }
  
  /* remove default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--quaternary-color);
}
/* flex box */
.flex-row {
    display: flex;
}

/* text alignment */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/* header start */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    color: var(--secondary-color);
}

header h1 a {
    text-decoration: none;
}

.name {
    background-color: var(--primary-color);
}
/* navigation */
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--primary-color);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

/* hero/jumbotron */
.hero {
      background-image: url("../assets/images/hero.jpg");
      /* <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1566161">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1566161">Pixabay</a> */
      height: 350px;
      width: 100vw;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 15px;
  }
/* sections */
.section-title {
    font-size: 38px;
    color: var(--primary-color);
}
/* about me */
.secondary-word {
    display: flex;
    justify-content: flex-end;
    
}
.flex-section {
    display: flex;
}

.primary-text {
    display: flex;
    padding-left: 20px;
    margin: 15px 0 0 0;
}

div.right-border {
    border-right: 4px solid;
    color: var(--primary-color);
    width: 160px;
    padding: 15px 50px 10px 20px;
    margin: 15px 0 0 0;
}


.contact-info {
    margin: 15px 0 0 0;
    display: flex;
}

h3.section-title {
    text-align: right;
}
/* work */
/* grid */
.wrapper {
    margin: 15px 0 0 0; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.surf-report {
    background-image: url("../assets/images/surf-report.jpg");
    /* Image by <a href="https://pixabay.com/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=926822">StockSnap</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=926822">Pixabay</a> */
grid-column: 1 / 4;
grid-row: 1 / 5;
}

.led-wall {
    background-image: url("../assets/images/led-wall.jpg");
    /* Image by <a href="https://pixabay.com/users/michael_luenen-2998623/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1559179">Michael Bußmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1559179">Pixabay</a> */
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.calculator {
    background-image: url("../assets/images/calculator.jpg");
    /* Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2953856">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2953856">Pixabay</a> */
    grid-column: 4 / 7;
    grid-row: 3 / 5;
}

.pastel-puzzels {
    background-image: url("../assets/images/pastel-puzzles.jpg");
    /* Image by <a href="https://pixabay.com/users/mikesween-110121/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=226743">Mike Sweeney</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=226743">Pixabay</a> */
    grid-column: 1 / 4;
    grid-row:  5 / 7;
}

.run-buddy {
    background-image: url("../assets/images/run-buddy.jpg");
    grid-column: 4 / 7;
    grid-row: 5 / 7;
}