:root {
    --primary-color: #ffffff;
    --secondary-color: #202040;
    --tertiary-color: #000000;
    --quaternary-color: #000000;
    --text-pop: #02021ff8;
  }
  
  /* remove default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

h2 {
    font-size: 32px;
    color: var(--text-pop);
    padding: 0 30px;
    background-color: var(--primary-color);
    border-radius: 1vw;
}

h4 {
    font-size: 46px;
    color: var(--tertiary-color);
}

h5 {
    font-size: 32px;
    color: var(--tertiary-color)
}

body {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
}
/* flex box */
.flex-row {
    display: flex;
}

/* text alignment */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/* header start */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    color: var(--secondary-color);
}

header h1 a {
    text-decoration: none;
}

.name {
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 0 25px;
}
/* navigation */
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--primary-color);
}

header nav ul li a:hover, a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

/* hero/jumbotron */
.hero {
      background-image: url("../assets/images/hero.jpg");
      /* <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1566161">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1566161">Pixabay</a> */
      height: 15vw;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 15px;
      justify-content: space-between;
      background-size: cover;
  }

  .self {
      background-image: url("../assets/images/self.jpg");
      height: 200px;
      width: 200px;
      background-size: cover;
      border-radius: 100px;
      display: flex;
  }
/* sections */
.section-title {
    font-size: 38px;
    color: var(--primary-color);
}
/* about me */
.secondary-word {
    display: flex;
    justify-content: flex-end;
    
}
.flex-section {
    display: flex;
}

.primary-text {
    display: flex;
    padding-left: 20px;
    margin: 15px 0 0 0;
}

div.right-border {
    border-right: 4px solid;
    color: var(--primary-color);
    width: 160px;
    padding: 15px 50px 10px 20px;
    margin: 15px 0 0 20px;
}


.contact-info {
    margin: 15px 0 0 0;
    display: flex;
}

h3.section-title {
    text-align: right;
}

/* work */
/* grid */
.wrapper {
    margin: 15px 0 0 20px; 
    display: grid;
    grid-template-columns: repeat(9, 8vw);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    position: relative;
}

/* hover over grid images */
.gradient:hover {
    content: "";
    background: linear-gradient(rgba(252, 56, 219, 0.3), rgb(19, 73, 102));
    opacity: .5;
    transition: all 1s;
    background-size: 100% 100%;
    height: 250px;
}


.gamerPortal, .gamerPortal:hover {
    background-image: url("../assets/images/gamer_portal.png");
    background-size: 100% 100%;
    height: 350px;
    margin: 0px 0px 100px 0px;
    -webkit-text-stroke : .5px var(--quaternary-color);
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
  }


.taskMasterPro, .taskMasterPro:hover {
    background-image: url("../assets/images/taskmaster_pro.png");
    background-size: 100% 100%;
    height: 250px;
    -webkit-text-stroke : .5px var(--quaternary-color);
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}


.weatherPage, .weatherPage:hover {
    background-image: url("../assets/images/weather-page.png");
    background-size: 100% 100%;
    height: 250px;
    -webkit-text-stroke : .5px var(--quaternary-color);
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}


.passwordGenerator, .passwordGenerator:hover {
    background-image: url("../assets/images/password_generator.png");
    background-size: 100% 100%;
    height: 250px;
    -webkit-text-stroke : .5px var(--quaternary-color);
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.run-buddy, .run-buddy:hover {
    background-image: url("../assets/images/the-minimal-prepper.png");
    background-size: 100% 100%;
    height: 350px;
    -webkit-text-stroke : .5px var(--quaternary-color);
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.project-text {
    position: relative;
    top: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: inline;
}

.image-text a {
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

/* footer */

.contact-info ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 15px;
}

.contact-info ul li a {
    padding: 10px 40px 10px 40px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--primary-color);
}

.contact-info ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 20px;
    text-shadow: none;
  }

  .gridFit {
      margin: 20px;
  }

  .gridSpace {
      margin: 10px;
  }

  .githubText {
      font-size: 1px;
  }
  /* @media only screen and (max-width: 991px) {
    .gamerPortal, .gamerPortal:hover {
        background-image: url("../assets/images/gamer_portal.png");
        background-size: 100% 100%;
        height: 350px;
        margin: 0px 0px 0px 0px;
      }
    } */
  
 
